@page
@model Winamacpowershow.Pages.Info.GolfCartPolicyModel
@{
	ViewData["Title"] = "Golf Cart Policy";
}

<div class="golf-cart">
	 <h1>Golf Cart Policy</h1>
	 <div class="body">
		<p><span style="font-size:14px"><strong>Golf carts and utility vehicles are allowed on the show grounds but we ask that only people who need this type of transportation bring them.&nbsp; The show gets crowed at times and it&rsquo;s usually faster and easier for most people to walk.</strong></span></p>

		<p><span style="font-size:14px"><span style="color:#e74c3c"><strong>Beginning 2020, we are charging $10 to operate your golf cart or utility vehicle at the show.&nbsp; This is a one time charge per year, per vehicle, and allows you to drive your cart for the full duration of the show week.&nbsp; There are no daily rates.</strong></span></span></p>

		<p>All golf carts and utility vehicles must be insured before you arrive and then registered at the show office which is located in Building 3. You will not be able to operate your vehicle on the show grounds without insurance that provides coverage for any damage to people or property you may cause. This insurance may be added to your homeowners&rsquo; policy but please check with your insurance agent. Bring your proof of insurance with you.</p>

		<p>You may pick up and fill out the form when you arrive at the show or save some time and have it filled out beforehand.</p>

		<div class="btn btn-success contract-button"><a href="https://winamac.s3.us-east-2.amazonaws.com/Tractor+Show/Golf-cart-registration+form.pdf" style="color: white;" target="_blank">View and Print Form&nbsp;&nbsp; </a></div>

		<h3>Rules</h3>

		<ul>
			<li>All golf carts and utility vehicles driven on the grounds must have their registration tag visible at all times. This will be a wrist band that we ask you to place around the steering column or canopy support.</li>
			<li>All drivers must be 16 or over and have a valid drivers license.</li>
			<li>All passengers must have a seat.</li>
			<li>Pedestrians always have the right of way.</li>
			<li>All traffic laws are to be obeyed.</li>
			<li>No vehicles are allowed in the tents and buildings.</li>
			<li>There will be zero tolerance for horse play! Anyone caught driving recklessly or causing endangerment to themselves or others will be asked to park their cart or leave the grounds.</li>
		</ul>

		<p>Behavior that violates our policy includes but is not limited to: Racing with other vehicles, weaving back and forth, and playing games like &ldquo;Stop &amp; Go&rdquo;.</p>

		<p><u>Please do not block the roads or fire lanes with your vehicle. The show has other vehicles that need priority access. Park your vehicle out of the way when you are not driving it. </u></p>

		<p>The Northern Indiana Power from the Past, Inc. will not be liable or held responsible for any accidents.</p>

		<h3>Other means of transportation</h3>

		<p>Bicycles, scooters, mopeds, and similar things are not permitted to be ridden around the show. You may arrive to the show however you wish but please park by the gate when you get here. Walking is the easiest way to enjoy our show.</p>

		<p>Battery powered personal mobility scooters, wheel chairs, and other medically required mobility devices are no problem as we make every effort to keep our show accessible to everybody.</p>
	 </div>
</div>
