@page
@model Winamacpowershow.Pages.Club.ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="contact-info info">
	 <h1 style="margin: .25em 0;">Contact us</h1>
	 <div class="body">
		<div class="contact">
			<div class="row">
				<div class="col-md-6">
					<h5><strong>President - John Crist</strong></h5>

					<p>(574) 242-9164</p>

					<h5><strong>Co-Vice President - Jeremy Hoover</strong></h5>

					<p>(574) 242-0558</p>

					<h5><strong>Co-Vice President - Scott Hankla</strong></h5>

					<p>(574) 225-0385</p>

					<h5><strong>Secretary - Rachel Rife</strong></h5>

					<p>(574) 225-0384</p>

					<h5><strong>Treasurer - Cristi Hankla</strong></h5>

					<p>(574) 225-1360</p>

					<h5><strong>Year round mailing address:</strong></h5>

					<p>P.O. Box 78<br />
					Winamac, IN 46996</p>
				</div>

				<div class="col-md-6">
					<h5><strong>Year round email:</strong></h5>

					<p><a href="mailto: winamacpowershow@hotmail.com" target="_blank">winamacpowershow@hotmail.com</a></p>

					<h5><strong>Week of show phone number</strong></h5>

					<p>(574) 946-4841</p>

					<h5><strong>Week of show address:</strong></h5>

					<p>10 City Park Drive<br />
					Winamac, IN 46996</p>

					<h5><strong>Food Vendor information - Rachelle Ortman</strong></h5>

					<p>(574) 946-3206</p>

					<p><a href="mailto:powershowvendorinfo@gmail.com" id="LPlnk575489" rel="noopener noreferrer" target="_blank">powershowvendorinfo@gmail.com</a>&nbsp;</p>

					<h5><strong>Flea Market information - Rachelle Ortman</strong></h5>

					<p>(574) 946-3206</p>

					<p><a href="mailto:powershowvendorinfo@gmail.com" id="LPlnk575489" rel="noopener noreferrer" target="_blank">powershowvendorinfo@gmail.com</a>&nbsp;</p>

					<h5><strong>Toy Show information - Doris Smith</strong></h5>

					<p>Home: (574) 542-2330<br />
					Cell: (574) 225-0381</p>
				</div>
				</div>
			</div>
	 </div>
</div>
