@page
@model Winamacpowershow.Pages.Info.Vendors.FleaMarketModel
@{
    ViewData["Title"] = "Flea Market Vendor Policy";
}

<div class="info">
	 <h1>Flea Market Vendor Policy</h1>
	 <div class="body">
		<div class="row">
<div class="col-sm-3">
<ul>
	<li><a href="#contract">Flea market contract</a></li>
	<li><a href="#space">Space size and pricing</a></li>
	<li><a href="#rental">Table rental</a></li>
	<li><a href="#prohibited">Prohibited items</a></li>
	<li><a href="#reentrance">Re-entrance to the grounds and parking</a></li>
	<li><a href="#hours">Hours of operation</a></li>
</ul>
</div>

<div class="col-sm-3">
<ul>
	<li><a href="#arrive">When to arrive</a></li>
	<li><a href="#gate">When you get to the gate</a></li>
	<li><a href="#trailers">Trailers</a></li>
	<li><a href="#cart">Golf cart policy</a></li>
	<li><a href="#restroom">Restroom and shower facilities</a></li>
	<li><a href="#electric">Indoor electric information</a></li>
</ul>
</div>

<div class="col-sm-3">
<ul>
	<li><a href="#camping">Camping electric information</a></li>
	<li><a href="#camping">About the camping area</a></li>
	<li><a href="#water">Water and sewer</a></li>
	<li><a href="#internet">Internet access</a></li>
	<li><a href="#campfires">Campfires</a></li>
</ul>
</div>

<div class="col-sm-3">
<ul>
	<li><a href="#quiet">Quiet time</a></li>
	<li><a href="#ice">Ice</a></li>
	<li><a href="#trash">Trash and recycling</a></li>
	<li><a href="#pet">Pet policy</a></li>
	<li><a href="#security">Security and safety</a></li>
	<li><a href="#alcohol">Alcohol policy</a></li>
</ul>
</div>
</div>

<ul>
</ul>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">We love having an excellent turnout of flea marketers at our show.&nbsp; There are many of you that have been with us since the beginning and we truly enjoy seeing you with us every year.&nbsp; The thing that keeps our visitors excited is a great mix of new and returning people to shop from. We are always welcoming new vendors at our show.&nbsp; Please take the time to read through all the information below.</span></span></p>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">We do our best to make it easy and simple to participate with us.&nbsp; <span class="marker">New vendors need to call the director in charge of the flea markets</span> and give some information about what you will be selling and how much space you will need.&nbsp; Then, if there is space available, you will need to send in a contract with your payment and that&rsquo;s basically it.&nbsp; The director in charge will give you instructions on what exactly you need to do and can answer any questions you might have.&nbsp; You may email us at </span></span><a href="mailto:powershowvendorinfo@gmail.com" id="LPlnk575489" rel="noopener noreferrer" target="_blank">powershowvendorinfo@gmail.com</a>.&nbsp; Additional c<span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">ontact information for the director in charge is listed at the bottom of the contract which can be viewed below.&nbsp;&nbsp;</span></span></p>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Vendors who wish to come back the following year typically take care of their space reservations during the week of the show.&nbsp; This helps us plan who will be attending as far in advance as possible and gives you certainty that you will have a spot.</span></span></p>

<h3>Flea market contract</h3>

<div class="contract">&nbsp;</div>

<p>Your contract and payment are due by April 30th. After that date all spaces not reserved will become available to those waiting. If you do not show up, you will not be guaranteed a space next year. NO REFUNDS!</p>

<p>Returning vendors may reserve their same spot for next year at the end of the summer show week.</p>

<h3>Space size and pricing</h3>

<p>Outside spaces are 22 feet deep and cost $2.00 per foot of frontage and a minimum of 30 feet must be purchased.</p>

<p>Inside spaces are 10 feet deep and 16 feet wide and cost $50.00 each. Multiple contiguous spaces may be purchased.</p>

<p>All vendors must pay for their space before setting up. NO exceptions allowed.</p>

<h3>Table rental</h3>

<p>Tables are not included with you space. Outdoor flea marketers must bring their own. Indoor flea marketers may choose to bring their own tables or they can be rented from the club for $10.00 each. Please indicate on your contract how many tables you wish to reserve.</p>

<h3>Prohibited items</h3>

<p>No device can be sold that fires or propels a projectile and no live animals can be sold. No stun guns or ammunition can be sold. Please watch your merchandise, we are a family show and want all booths free of obscenities.</p>

<h3>Re-entrance to the grounds and parking</h3>

<p>Every flea marketer that re-enters the show throughout the week must have their own ribbon to present to the gate workers. Two passes will be issued for use during the show which are included in your space rental. Additional passes need be purchased for any helpers or employees you may have. Single and four day passes are available.</p>

<p>Please park your vehicle in a designated parking area. There are fire lanes next to the buildings that we must keep open for safety. Please do not block these areas.</p>

<h3>Hours of operation</h3>

<p>The times listed below are the minimum hours that flea markets must be open for business, but we encourage you to open sooner or stay open later while visitors are on the grounds.</p>

<p>All outside vendors must be open from 9:00 A.M. to 8:00 P.M. Thursday through Saturday and 9:00 A.M. to 3:00 P.M. on Sunday, with the exception of bad weather or illness.</p>

<p>All inside vendors are to be open from 9:00 A.M. to 9:00 P.M. Thursday through Saturday and 9:00 A.M. to 3:00 P.M. on Sunday.</p>

<h3>When to arrive</h3>

<p>No vendor camping or setup is allowed before Wednesday of the show week. There is still a lot of work being done on the grounds before this time and we need the area to be open.</p>

<p>Setup begins Wednesday morning at 9:00 A.M. All vendors must be set up by Friday at noon unless previous arrangements have been made.</p>

<h3>When you get to the gate</h3>

<p>At the entrance to the show grounds, let the gate workers know you are a flea marketer. Park your vehicle out of the way and come to the show office which is located in Building 3 to register. Please follow their instructions. Please be patient throughout the process. There are way more flea marketers than show workers and it takes time to organize everybody well.</p>

<p>Exhibitors and commercial exhibits will be placed by the Director. The Director will have the final say if a problem or question comes up.</p>

<p>Most of the flea marketers are very self-sufficient but we do have a forklift operator available for loading and unloading unusually large or heavy items.</p>

<h3>Trailers</h3>

<p>If you have a trailer that you&rsquo;re brining you merchandise in on that will be empty for the length of the show we ask that you park it offsite. Space gets very crowded and we need parking space for visitors. All empty trailers will be taken to the Winamac school parking lot, approximately a 2 minute drive away. If you are able to take the trailer yourself, that&rsquo;s great! We will give you directions. If you can&rsquo;t take it yourself, we have people that are standing by help out. Please mention it when you are being placed and we will make all the arrangements at that time.</p>

<h3>Golf cart policy</h3>

<p><a href="/Info/GolfCartPolicy">Go to golf cart policy page</a></p>

<h2>Restroom and shower facilities</h2>

<p>Some of our vendors bring modern RVs with full restrooms built in but for those who are still camping old school, we have you covered.</p>

<p>Port-a-potties are placed throughout the show grounds and there are handicap accessible ones available. A few locations also have portable handwashing stations.</p>

<p>There are permanent restroom facilities located near the show office.</p>

<p>Showers are also available 24 hours free of charge. We have our own mobile trailer which we call the Shower House located near the show office. Look for the white and orange trailer with a wooden platform. It features four individual unisex showers and each has its own small changing area.</p>

<p>The permanent restrooms near the Shower House also have two showers in the men&rsquo;s side and two in the women&rsquo;s side.</p>

<h3>Vendor area electric information</h3>

<p>For those of you who will be setting up your merchandise inside there will be limited power available. Buildings are well lit 24 hours a day and there are receptacles for plugging in things such as fans and a few extra lights. Bring your own extension cords, adapters and lighting fixtures.</p>

<p>The Indiana State Fire Marshall&rsquo;s office has requirements for extension cords used in all vendor areas, both indoor and outdoor. They may come do an inspection and we want all vendors to be in compliance.</p>

<ul>
	<li>Cords must be water resistant. Markings printed or stamped along the length of the cord indicate if it is water resistant and some common ones are SJTW, SJTOW, SJOOW, SOOW, STOW, and STW.</li>
	<li>All cords must be free of cracks and may not have any taped repairs.</li>
	<li>Cords must still have both factory installed male and female ends. No replacement ends are allowed.</li>
	<li>Grounded (3 prong) cords must be used and have the round ground pin intact. No residential two prongs cords are allowed.</li>
	<li>Connections may not be placed directly on the ground. The cord must be one continuous piece.</li>
	<li>If you need to supply more than one item, you can use a grounded (3 prong) surge suppressor strip.</li>
</ul>

<p>Please do not block electrical panels with displays or merchandise because we need to have access to them the entire length of the show.</p>

<h3>Camping electric information</h3>

<p>Pretty much every camping area has electricity available. Again, it may be limited depending on where you are setup. There a few areas without power where people roughing it in tents usually stay.</p>

<p>Exhibitors are required to pay a fee for electricity and show a permit verifying they have paid. As a vendor, the cost of your electricity is covered in your space rental fee.</p>

<p>You will have a 120 Volt 20 amp circuit near your space. We are currently upgrading our electrical stands and are working on providing 30 amp circuits for everyone in the coming years.</p>

<p>So please be sure your rig can run on one 20 amp circuit to make sure there won&rsquo;t be any problems. Please help our limited electrical infrastructure by only using the minimum amount of air conditioning. Turn it off when not needed.</p>

<p>Be sure to bring your own adaptors and heavy duty extension cords because do not have any to loan. Please stretch out your cords carefully to avoid any tripping hazards.</p>

<p>There will be an onsite electrician for the whole week of the show and he is happy to help with any electrical issues that may come up. Just ask for a blue shirt named Andy or flag down the little buggy that says &ldquo;Electrician&rdquo; on the side.</p>

<h3>About the camping area</h3>

<p>We feature a wonderful area for out exhibitors and vendors to camp right on the show grounds. You will love the nicely wooded and well-kept showgrounds and the Tippecanoe River that encircles the entire park.</p>

<p>We do our best to make camping (and the entire show) possible on land that is typically an unoccupied open grassy area for most of the year.</p>

<p>Most outdoor flea marketers park their RV within their purchased space for convenience but you may camp in the general exhibitor camping area if you choose.</p>

<p>We try to let the indoor flea marketers camp as close as practicable to their booths, but this is not always possible. You may camp in the general exhibitor camping area.</p>

<h3>Water and sewer</h3>

<p>There are very limited water hookups in the vendor camping area and we make no guarantees that you will have one so we recommend you have a full tank of water BEFORE you arrive at the show.</p>

<p>There is city water available at several locations around the show grounds and you are welcome to fill up all the water jugs you like and take them back to your campsite. One water spigot is located on the west side of the park near the end of the main flea market road while the others are located near the midway by the show office.</p>

<p>No RV waste water/sewer facilities are on the show grounds at all. Please have plans to dump your tanks off site after the show.</p>

<h3>Internet access</h3>

<p>We expect to have free Wi-Fi this year. The hot spot is located near the community building. The signal will not reach the majority of the show grounds, so grab your device, go for a short stroll and get connected.</p>

<h3>Campfires</h3>

<p>Sitting around a campfire with friends and family is a great way to relax after a fun filled day. Small, controlled campfires are allowed. However, they MUST be contained in an elevated pit. Whatever it is, it must have legs. We cannot allow campfires to be directly on the ground such as in a circle of rocks or an old tire rim.</p>

<h3>Quiet time</h3>

<p>Quiet time is 10:00 P.M. Please turn off any engines, generators, and music. If you wish to remain outside and relax after that time, no problem, just speak softly.</p>

<h3>Ice</h3>

<p>We will have bags of ice available for sale at the show office. We keep the cost low as a convenience to our campers and vendors. Purchase as much as you need.</p>

<h3>Trash and recycling</h3>

<p>We have 55 gallon drums lined with bags placed all over the show grounds for trash. If you have very large bags or oversized items that won&rsquo;t fit, please leave them next to the can. Trash is picked up around 8:00 A.M. every morning by our own club members with help from other volunteers.</p>

<p>If you see a recycling container, please place your empty aluminum cans and glass or plastic bottles in it. Cardboard boxes may be placed on the ground near the container. The local Boy Scout troop helps us out and collects all the recyclables during the show.</p>

<h3>Pet policy</h3>

<p>Well behaved dogs are allowed. When your pet is outside of you camper, it must be on a leash and supervised by a responsible person. Please clean up after your pet because nobody likes stepping in dog bombs.</p>

<h3>Security and safety</h3>

<p>The Club takes reasonable precautions for safety of all exhibits, but will not responsible for vandalism, theft, or destruction by other means.</p>

<p>We have the Pulaski Co. REACT team that provides onsite security during the day. They are stationed near the community building. The local police department patrols the grounds during nighttime hours. An ambulance with two EMTs is also onsite during the day.</p>

<p>If you have any medical, safety, or security concerns please immediately tell a blue shirt member of the club. We carry radios and can contact any resources that are needed.</p>

<p>It is not uncommon to have one or two personal medical related issues occur every year. Our club has a safety plan in place and takes helping our exhibitors, vendors, and visitors very seriously.</p>

<h3>Alcohol policy</h3>

<p>Local town laws prohibit the consumption of alcohol on the show grounds.</p>

<h3>When to leave</h3>

<p>Vendors must remain open until 3:00 PM Sunday. NO tearing down or blocking doors or aisles before 4:00 PM on Sunday except in case of an emergency.</p>
	 </div>
</div>