@page
@model Winamacpowershow.Pages.Info.Vendors.FoodVendorModel
@{
    ViewData["Title"] = "Food Vendor Policy";
}
<div class="info">
	 <h1>Food Vendor Policy</h1>
	 <div class="body">
		<div class="row">
<div class="col-sm-4">
<ul>
	<li><a href="#contract">Food vendor contract</a></li>
	<li><a href="#pricing">Pricing</a></li>
	<li><a href="#permit">Food permits</a></li>
	<li><a href="#ice">Ice</a></li>
	<li><a href="#hours">Hours of operation</a></li>
	<li><a href="#reentrance">Re-entrance to the grounds and parking</a></li>
	<li><a href="#electric">Food booth electric information</a></li>
	<li><a href="#booth">Food booth water information</a></li>
	<li><a href="#oil">Used cooking oil</a></li>
</ul>
</div>

<div class="col-sm-4">
<ul>
	<li><a href="#trash">Trash</a></li>
	<li><a href="#arrive">When to arrive</a></li>
	<li><a href="#gate">When you get to the gate</a></li>
	<li><a href="#trailers">Trailers</a></li>
	<li><a href="#cart">Golf cart policy</a></li>
	<li><a href="#restroom">Restroom and shower facilities</a></li>
	<li><a href="#electric-info">Camping electric information</a></li>
	<li><a href="#area">About the camping area</a></li>
	<li><a href="#water">Water and sewer</a></li>
</ul>
</div>

<div class="col-sm-4">
<ul>
	<li><a href="#internet">Internet access</a></li>
	<li><a href="#campfires">Campfires</a></li>
	<li><a href="#quiet">Quiet time</a></li>
	<li><a href="#recycling">Trash and recycling</a></li>
	<li><a href="#pet">Pet policy</a></li>
	<li><a href="#security">Security and safety</a></li>
	<li><a href="#alcohol">Alcohol policy</a></li>
	<li><a href="#leave">When to leave</a></li>
</ul>
</div>
</div>

<ul>
</ul>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">We love having an excellent turnout of food vendors at our show.&nbsp; There are many of you that have been with us since the beginning and we truly enjoy seeing you with us every year.&nbsp; The thing that keeps our visitors excited is a great mix of new and returning stands to eat from.&nbsp; We are always welcoming new vendors at our show.&nbsp; Please take the time to read through all the information below.</span></span></p>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">We do our best to make it easy and simple to participate with us.&nbsp; <span class="marker">New vendors need to call the director in charge of the food vendors</span> and give some information about what you will be selling and how much space you will need.&nbsp; Then, if there is space available, you will need to send in a contract with your payment and that&rsquo;s basically it.&nbsp; The director in charge will give you instructions on what exactly you need to do and can answer any questions you might have.&nbsp;&nbsp;</span></span>You may email us at <a href="mailto:powershowvendorinfo@gmail.com" id="LPlnk575489" rel="noopener noreferrer" target="_blank">powershowvendorinfo@gmail.com</a>.&nbsp;&nbsp;<span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Additional contact information for the director in charge is listed at the bottom of the contract which can be viewed below.</span></span></p>

<p style="margin-left:0in; margin-right:0in"><span style="font-size:11pt"><span style="font-family:&quot;Calibri&quot;,sans-serif">Vendors who wish to come back the following year typically take care of their space reservations during the week of the show.&nbsp; This helps us plan who will be attending as far in advance as possible and gives you certainty that you will have a spot.</span></span></p>

<h3 style="margin-left:0in; margin-right:0in">Food vendor contract</h3>

<p>Your contract and payment are due by April 30th. After that date all spaces not reserved will become available to those waiting. If you do not show up, you will not be guaranteed a space next year. NO REFUNDS!</p>

<p>Returning vendors may reserve their same spot for next year at the end of the summer show week.</p>

<p>A certificate of insurance needs to be sent in with your contract or as soon as possible before the show.</p>

<h3>Pricing</h3>

<p>The cost is $150.00 per spot and includes use of one freezer. There is a $25.00 fee for each extra freezer you will be bringing and plugging in. It does not matter where the extra freezer is located on the show grounds whether it&rsquo;s within or next to your serving trailer or in a supply vehicle.</p>

<h3>Food permits</h3>

<p>Food permits need to be turned in to the Pulaski County Health Department at least 30 days prior to the show. Be aware they do charge a small fee. A printable version of their permit is available <a href="https://winamac.s3.us-east-2.amazonaws.com/Tractor+Show/PC-Food-Permit-App+form.pdf" target="_blank">here</a>. Please <a href="http://gov.pulaskionline.org/health-department/">click here</a> to visit their website for more information.</p>

<h3>Ice</h3>

<p>We will have bags of ice available for sale at the show office. We keep the cost low as a convenience to our vendors. Purchase as much as you need.</p>

<h3>Hours of operation</h3>

<p>The times listed below are the hours that the show is officially open. While service hours are at your discretion, we encourage you to stay open while visitors are on the grounds.</p>

<p>Show hours are 8:00 A.M. to 9:00 P.M. on Thursday through Saturday and from 8:00 A.M to 3:00 P.M. on Sunday. Food booths are required to be open all four days.</p>

<h3>Re-entrance to the grounds and parking</h3>

<p>Every food vendor that re-enters the show throughout the week must have their own ribbon to present to the gate workers. Two passes will be issued for use during the show which are included in your space rental. If you are a for-profit vendor then additional passes need be purchased for any helpers or employees you may have. Single and four day passes are available.</p>

<p>Please park your vehicle in a designated parking area. There are fire lanes next to the buildings that we must keep open for safety. Please do not block these areas.</p>

<h3>Food booth electric information</h3>

<p>When you send in your contract, please mention what electrical voltage and amperage requirements you have. There are locations with no electricity and some have either 120V or 240V or both. Most, but not all, locations will have a 4 prong 120/240V 50A (NEMA 14-50R) outlet and a 120V 20A GFCI.</p>

<p><img alt="" src="https://winamacpowershow-app.s3.amazonaws.com/Tractor+Show/14-50r.png" style="height:148px; width:259px" /></p>

<p>Be sure to bring your own adaptors and heavy duty extension cords because do not have any to loan. Please stretch out your cords carefully to avoid any tripping hazards.</p>

<p>The Indiana State Fire Marshall&rsquo;s office has requirements for extension cords used in all vendor areas, both indoor and outdoor. They may come do an inspection and we want all vendors to be in compliance.</p>

<ul>
	<li>Cords must be water resistant. Markings printed or stamped along the length of the cord indicate if it is water resistant and some common ones are SJTW, SJTOW, SJOOW, SOOW, STOW, and STW.</li>
	<li>All cords must be free of cracks and may not have any taped repairs.</li>
	<li>Cords must still have both factory installed male and female ends. No replacement ends are allowed.</li>
	<li>Grounded (3 prong) cords must be used and have the round ground pin intact. No residential two prongs cords are allowed.</li>
	<li>Connections may not be placed directly on the ground. The cord must be one continuous piece.</li>
	<li>If you need to supply more than one item, you can use a grounded (3 prong) surge suppressor strip.</li>
</ul>

<p>There will be an onsite electrician for the whole week of the show and he is happy to help with any electrical issues that may come up. Just ask for a blue shirt named Andy or flag down the little buggy that says &ldquo;Electrician&rdquo; on the side.</p>

<h3>Food booth water information</h3>

<p>When you send in your contract, please mention what fresh water requirements you have.</p>

<p>City fresh water connections typically are close by and available for you to connect to but we do not have permanent sewer connections. We do provide a tank for your gray water so bring your own portable container to wheel it over the dump tank.</p>

<p>Be sure to bring your own fresh water hoses and splitters.</p>

<h3>Used cooking oil</h3>

<p>Used cooking oil may not be disposed of at the show. Please make plans to dispose of it off site. You will not be invited back next year if you leave your used oil behind.</p>

<h3>Trash</h3>

<p>We have 55 gallon drums lined with bags placed all over the food vendor area. If you have very large bags or oversized items that won&rsquo;t fit or are very heavy, please leave them next to the can. Trash is picked up around 8:00 A.M. every morning by our own club members with help from other volunteers.</p>

<p>We bring in several large dumpsters for the week and you may take any big items directly to them if you like.</p>

<p>Please break down any cardboard boxes and stack them neatly near a trash can. They will be recycled.</p>

<h3>When to arrive</h3>

<p>No vendor camping or setup is allowed before Wednesday of the show week. There is still a lot of work being done on the grounds before this time and we need the area to be open.</p>

<p>Setup time is Wednesday morning at 9:00 A.M.</p>

<h3>When you get to the gate</h3>

<p>At the entrance to the show grounds, let the gate workers know you are a food vendor. Proceed onto the show grounds and park somewhere out of the way then walk to the vendor check in table by the show office in Building 3. Please be patient throughout the process as it takes time to organize everybody well.</p>

<p>Exhibitors and commercial exhibits will be placed by the director in charge. He or she will have the final say if a problem or question comes up.</p>

<h3>Trailers</h3>

<p>If you have a trailer that you&rsquo;re brining you merchandise in on that will be empty for the length of the show we ask that you park it offsite. Space gets very crowded and we need parking space for visitors. All empty trailers will be taken to the Winamac school parking lot, approximately a 2 minute drive away. If you are able to take the trailer yourself, that&rsquo;s great! We will give you directions. If you can&rsquo;t take it yourself, we have people that are standing by to help out. Please mention it when you are being placed and we will make all the arrangements at that time.</p>

<h3>Golf cart policy</h3>

<p><a href="/Info/GolfCartPolicy">Go to golf cart policy page</a></p>

<h3>Restroom and shower facilities</h3>

<p>Most of our vendors bring modern RVs with full restrooms built in but for those who are still camping old school, we have you covered.</p>

<p>Port-a-potties are placed throughout the show grounds and there are handicap accessible ones available. A few locations also have portable handwashing stations.</p>

<p>There are permanent restroom facilities located near the show office.</p>

<p>Showers are also available 24 hours free of charge. We have our own mobile trailer which we call the Shower House located near the show office. Look for the white and orange trailer with a wooden platform. It features four individual unisex showers and each has its own small changing area.</p>

<p>The permanent restrooms near the Shower House also have two showers in the men&rsquo;s side and two in the women&rsquo;s side.</p>

<h3>Camping electric information</h3>

<p>Pretty much every camping area has electricity available. Again, it may be limited depending on where you are setup. There a few areas without power where people roughing it in tents usually stay.</p>

<p>Exhibitors are required to pay a fee for electricity and show a permit verifying they have paid. As a vendor, the cost of your electricity is covered in your space rental fee.</p>

<p>You will either have a 120 Volt, 20 or 30 Amp circuit. You will not be able to choose which style you get because of the limited number of 30 amp receptacles we have available. We are currently upgrading our electrical stands and are working on providing 30 amp circuits for everyone in the coming years.</p>

<p>So please be sure your rig can run on one 20 amp circuit to make sure there won&rsquo;t be any problems. Please help our limited electrical infrastructure by only using the minimum amount of air conditioning. Turn it off when not needed.</p>

<p>Be sure to bring your own adaptors and heavy duty extension cords because do not have any to loan. Please stretch out your cords carefully to avoid any tripping hazards.</p>

<p>There will be an onsite electrician for the whole week of the show and he is happy to help with any electrical issues that may come up. Just ask for a blue shirt named Andy or flag down the little buggy that says &ldquo;Electrician&rdquo; on the side.</p>

<h3>About the camping area</h3>

<p>We feature a wonderful area for out exhibitors and vendors to camp right on the show grounds. You will love the nicely wooded and well-kept showgrounds and the Tippecanoe River that encircles the entire park.</p>

<p>We do our best to make camping (and the entire show) possible on land that is typically an unoccupied open grassy area for most of the year.</p>

<p>Please make arrangements for a camping location when you arrive and check in. Sometimes we are able to let you camp near your stand but this isn&rsquo;t always possible. You may camp in the general exhibitor camping area.</p>

<h3>Water and sewer</h3>

<p>There are no water hookups in the camping area so we recommend you have a full tank of water BEFORE you arrive at the show.</p>

<p>There is city water available at several locations around the show grounds and you are welcome to fill up all the water jugs you like and take them back to your campsite. One water spigot is located on the west side of the park near the end of the main flea market road while the others are located near the midway by the show office.</p>

<p>No RV waste water/sewer facilities are on the show grounds at all. Please have plans to dump your tanks off site after the show.</p>

<h3>Internet access</h3>

<p>We expect to have free Wi-Fi this year. The hot spot is located near the community building. The signal will not reach the majority of the show grounds, so grab your device, go for a short stroll and get connected.</p>

<h3>Campfires</h3>

<p>Sitting around a campfire with friends and family is a great way to relax after a fun filled day. Small, controlled campfires are allowed. However, they MUST be contained in an elevated pit. Whatever it is, it must have legs. We cannot allow campfires to be directly on the ground such as in a circle of rocks or an old tire rim.</p>

<h3>Quiet time</h3>

<p>Quiet time is 10:00 P.M. Please turn off any engines, generators, and music. If you wish to remain outside and relax after that time, no problem, just speak softly.</p>

<h3>Trash and recycling</h3>

<p>We have 55 gallon drums lined with bags placed all over the show grounds for trash. If you have very large bags or oversized items that won&rsquo;t fit, please leave them next to the can. Trash is picked up around 8:00 A.M. every morning by our own club members with help from other volunteers.</p>

<p>If you see a recycling container, please place your empty aluminum cans and glass or plastic bottles in it. Cardboard boxes may be placed on the ground near the container. The local Boy Scout troop helps us out and collects all the recyclables during the show.</p>

<p>Please remember that cooking oil can NOT be disposed of at the show.</p>

<h3>Pet policy</h3>

<p>Well behaved dogs are allowed. When your pet is outside of you camper, it must be on a leash and supervised by a responsible person. Please clean up after your pet because nobody likes stepping in dog bombs.</p>

<h3>Security and safety</h3>

<p>The Club takes reasonable precautions for safety of all exhibits, but will not responsible for vandalism, theft, or destruction by other means.</p>

<p>We have the Pulaski Co. REACT team that provides onsite security during the day. They are stationed near the community building. The local police department patrols the grounds during nighttime hours. An ambulance with two EMTs is also onsite during the day.</p>

<p>If you have any medical, safety, or security concerns please immediately tell a blue shirt member of the club. We carry radios and can contact any resources that are needed.</p>

<p>It is not uncommon to have one or two personal medical related issues occur every year. Our club has a safety plan in place and takes helping our exhibitors, vendors, and visitors very seriously.</p>

<h3>Alcohol policy</h3>

<p>Local town laws prohibit the consumption of alcohol on the show grounds.</p>

<h3>When to leave</h3>

<p>Sunday after lunch is tear down time.</p>
	 </div>
</div>