@page
@model Winamacpowershow.Pages.Info.Vendors.ToyShowModel
@{
    ViewData["Title"] = "Toy Show Vendor Policy";
}
<div class="info">
	 <h1>Toy Show Vendor Policy</h1>
	 <div class="body">
		<div class="row">
<div class="col-md-6">
<ul>
	<li><a href="#contract">Toy show contract</a></li>
	<li><a href="#pricing">Space size and pricing</a></li>
	<li><a href="#items">Recommended items</a></li>
	<li><a href="#prohibited">Prohibited items</a></li>
</ul>
</div>

<div class="col-md-6">
<ul>
	<li><a href="#disclaimer">Disclaimer</a></li>
	<li><a href="#arrive">When to arrive</a></li>
	<li><a href="#operation">Hours of operation</a></li>
	<li><a href="#leave">When to leave</a></li>
</ul>
</div>
</div>

<ul>
</ul>

<p>Our annual Toy Show is held the 3rd Sunday in January at the Winamac Elementary School located at 815 School Dr. Winamac, IN 46996 and has an amazing turn out of vendors. Many of you have been with us for a long time and we always appreciate you choosing to come spend the day with us. Please take the time to thoroughly read the information below.</p>

<h3>Toy show contract</h3>

<div class="btn btn-success contract-button" style="margin-bottom:.5em"><a href="https://winamac.s3.us-east-2.amazonaws.com/Tractor+Show/Toy-show-contract-form.pdf" target="_blank">View or Print Contract</a></div>

<p><span style="background-color:#f1c40f">New vendors wishing to participate should call the director in charge first to see what spaces are available this year.</span></p>

<p>Please see our printable toy show contract. Please read it carefully, fill in all information, and then send it with your payment by Dec 31st.</p>

<p>There will be NO REFUND of your space rental fee if you do not show up.</p>

<h3>Space size and pricing</h3>

<p>We will provide one standard 8 foot long folding table with a small space behind it for you to stand or sit. The cost is $20.00 per table. Multiple contiguous tables may be purchased.</p>

<p>You will be placed in one of three large areas in the school. The exact location will be determined by the director in charge while most returning vendors typically receive the same spot from year to year.</p>

<h3>Recommended items</h3>

<p>This is mainly a farm toy show and most of our visitors are looking for new and old farm and agricultural themed items. Complete toys both in and out of packaging make up the majority of what is bought and sold. We also have people that bring parts to repair or create their own toys or even custom made creations ready to sell. Truck, tractor, and farming related books and manuals are also very popular. Small items featuring manufacturer or dealer logos are great items to bring too. Please contact us if you have any questions regarding what would be good to bring.</p>

<h3>Prohibited items</h3>

<p>No object can be sold that may pose a danger to others at the show. The director in charge will have discretion regarding what is allowed. Please contact them if you have any questions about your merchandise before bringing it.</p>

<h3>Disclaimer</h3>

<p>Exhibitors accept full liability for any injury or loss to themselves, their property, or their staff while attending this show. They expressly release the management from any liability for any loss or injury.</p>

<h3>When to arrive</h3>

<p>Vendor setup time is from 7:00 A.M. to 9:00 A.M. Vendors and visitors will use entrance 6.</p>

<h3>Hours of operation</h3>

<p>The Toy Show is open to the public from 9:00 A.M. to 3:00 P.M.</p>

<h3>When to leave</h3>

<p>You may begin to pack up your merchandise after 3:00 P.M.</p>
	 </div>
</div>