@page
@model Winamacpowershow.Pages.Info.Exhibitors.ExhibitorInfoModel
@{
	ViewData["Title"] = "Exhibitor Information";
}

<div class="info">
	 <h1>Exhibitor Information</h1>
	 <div class="body">
		<div class="row">
			<div class="col-sm-6">
				<ul>
					<li><a href="#exhibit">What is an exhibit?</a></li>
					<li><a href="#featured">Featured tractors</a></li>
					<li><a href="#camping">Camping</a></li>
					<li><a href="#arrive">When to arrive</a></li>
				</ul>
			</div>

			<div class="col-sm-6">
				<ul>
					<li><a href="#registration">Registration process</a></li>
					<li><a href="#environment">Exhibit environment</a></li>
					<li><a href="#trailers">Trailers</a></li>
					<li><a href="#cart">Golf cart policy</a></li>
				</ul>
			</div>
		</div>

			<p>Our summer show depends on the exhibits that people voluntarily bring to display for the week and we would like to thank everyone who contributes. This is a wonderful opportunity for you to bring something down and show it off to hundreds of interested people.</p>

			<p>Please take the time to read the information in this section as it will help both new and experienced exhibitors know what to expect when participating.</p>

			<h3>What is an exhibit?</h3>

			<p>Part of what makes our show unique is we don&rsquo;t have a specific list of what people should bring. While the majority of the show features antique tractors we love exhibits that show off other machinery that was used in the past.</p>

			<p>The philosophy of the Northern Indiana Power from the Past is to preserve, rejuvenate, and display antique farm machinery and any other form of machinery utilized in the growth of the U.S.A. Further, it is the intention of the corporation to foster and perpetuate in the minds of all American&#39;s respect, interest, and recognition of the vital role that different forms of machinery, no matter what their power source, have played in the development of our society as a whole.</p>

			<p>If you think what you have falls somewhere in that statement then don&rsquo;t hesitate to bring it to our show.</p>

			<h3>Featured tractors</h3>

			<p>Each year we choose a different equipment manufacturer to highlight and put those tractors front and center in our display area.</p>

			<p>We are ALWAYS an &ldquo;all color&rdquo; show and like to have all manufacturers&rsquo; equipment represented every year.</p>

			<h3>Camping</h3>

			<p>Exhibitors are allowed to camp on the show grounds for the week. If you think you might like to stay with us <a href="/Info/Exhibitors/ExhibitorCamping">please click here</a> for all exhibitor camping information.</p>

			<h3>When to arrive</h3>

			<p>Wednesday is our setup day. Anytime during the day is an excellent time to bring in your items.</p>

			<p>No exhibits are allowed in before Wednesday of the show week. There is still a lot of work being done on the grounds before this time and we need the area to be open.</p>

			<h3>Registration process</h3>

			<p>Please let the gate workers know you are bringing in something to display. Park your vehicle out of the way and come to the show office which is located in Building 3. You will sign up your exhibit at this time and will receive:</p>

			<ul>
				<li>2 Exhibitor name tags and ribbons. These are your free admission passes for the week.</li>
				<li>1 Pin on button featuring the club&#39;s logo &ndash; design updated every year</li>
				<li>1 Brass plaque featuring the club&#39;s logo &ndash; design updated every year</li>
				<li>Paper signs to hang on your display to identify your exhibit</li>
			</ul>

			<div class="btn btn-success contract-button" style="margin-bottom:.5em;"><a href="https://winamac.s3.us-east-2.amazonaws.com/Tractor+Show/exhibitor-tag-form.pdf" target="_blank">View or Print Exhibitor Tag</a></div>

			<p>Our staff will have black markers and the signs available for you to fill out at the desk. We provide pieces of bailing twine for you to use to hang the sign on your exhibit but you may attach the signs another way if you choose.</p>

			<p>We have an adjustable height loading dock on the show grounds for you to use if needed. A forklift operator is typically available for loading and unloading unusually large or heavy items.</p>

			<h3>Exhibit environment</h3>

			<p>If your exhibit is a tractor, engine, or other piece of equipment it will be placed outdoors in plain view of our visitors. Since it will be subject to the sun, wind, and rain you should bring caps to cover intake and exhaust openings. It is your responsibility to cover your item if you do not want it to get wet when it rains and you must uncover it when the weather is clear again.</p>

			<p>We encourage our visitors to look at your exhibit all they want because that&rsquo;s what it&rsquo;s all there for. We continually remind them to not touch or sit on any of the displays without the owner or operators permission. If you are onsite, we ask them to contact you if they would like to get a closer look or to ask you any questions.</p>

			<p>Since we can&rsquo;t supervise your exhibit the entire time you should remove any keys and other items from it that may come loose. We leave it up to you to make sure your item is how you want it.</p>

			<p style="text-decoration:underline;">The club takes reasonable precautions for safety of all exhibits, but will not be responsible for vandalism, theft, or destruction by other means.</p>

			<p>We have the Pulaski Co. REACT team that provides onsite security during the day and the local police department patrols the grounds during nighttime hours.</p>

			<p>Electricity is not available in the outdoor stationary exhibit display area.</p>

			<h3>Trailers</h3>

			<p>If you have a trailer that you&rsquo;re bringing you exhibit in on that will be empty for the length of the show we ask that you take it back home with you or if you are camping, park it offsite. Space gets very crowded and we need parking space for visitors. All empty trailers will be taken to the Winamac school parking lot, approximately a 2 minute drive away. If you are able to take the trailer yourself, that&rsquo;s great! We will give you directions. If you can&rsquo;t take it yourself, we have people that are standing by help out. Please mention it when you are being placed and we will make all the arrangements at that time.</p>

			<h3>Golf cart policy</h3>

			<p><a href="/Info/GolfCartPolicy">Go to golf cart policy page </a></p>
	 </div>
</div>
