@page
@model Winamacpowershow.Pages.Info.Exhibitors.ExhibitorCampingModel
@{
    ViewData["Title"] = "Camping For Exhibitors";
}

<div class="info">
	 <h1>Camping For Exhibitors</h1>
	 <div class="body">
		<div class="row">
	<div class="col-sm-4">
	<ul>
		<li><a href="#who">Who can camp?</a></li>
		<li><a href="#area">About the camping crea</a></li>
		<li><a href="#arrive">When to arrive</a></li>
		<li><a href="#gate">When you get to the gate</a></li>
		<li><a href="#trailers">Trailers</a></li>
		<li><a href="#cart">Golf cart policy</a></li>
	</ul>
	</div>

	<div class="col-sm-4">
	<ul>
		<li><a href="#restroom">Restrooms and shower facilities</a></li>
		<li><a href="#electric">Camping electric and information</a></li>
		<li><a href="#water">Water and sewer</a></li>
		<li><a href="#internet">Internet access</a></li>
		<li><a href="#campfires">Campfires</a></li>
		<li><a href="#quiet">Quiet time</a></li>
	</ul>
	</div>

	<div class="col-sm-4">
	<ul>
		<li><a href="#ice">Ice</a></li>
		<li><a href="#trash">Trash and recycling</a></li>
		<li><a href="#pet">Pet policy</a></li>
		<li><a href="#security">Security and safety</a></li>
		<li><a href="#alcohol">Alcohol policy</a></li>
		<li><a href="#leave">When to leave</a></li>
	</ul>
	</div>
	</div>

	<ul>
	</ul>

	<h3>Who can camp?</h3>

	<p>Our camping area is for exhibitors and vendors. You don&rsquo;t need to camp to be an exhibitor, but you must be an exhibitor to camp. <a href="/info/exhibitor-information/">Please click here</a> to read the information for exhibitors if you haven&rsquo;t already done so. If you aren&rsquo;t bringing anything to display, but still want the camping experience, there are a few nearby campgrounds that would be worth checking out.</p>

	<h3>About the camping area</h3>

	<p>We feature a wonderful area for out exhibitors to camp right on the show grounds. You will love the nicely wooded and well-kept showgrounds and the Tippecanoe River that encircles the entire park.</p>

	<p>We do our best to make camping (and the entire show) possible on land that is typically an unoccupied open grassy area for most of the year.</p>

	<p>There is no holding or reserving spots for others.</p>

	<h3>When to arrive</h3>

	<p>No exhibitor camping or setup is allowed before Wednesday of the show week. There is still a lot of work being done on the grounds before this time and we need the area to be open.</p>

	<p>You will want to arrive sometime Wednesday morning through the afternoon. Spots will fill up fast.</p>

	<h3>When you get to the gate</h3>

	<p>At the entrance to the show grounds, let the gate workers know you are an exhibitor and that you will be camping. They will contact the person in charge of placing you. Follow their instructions. Please be patient throughout the process. There are way more campers than show workers and it takes time to organize everybody well.</p>

	<h3>Trailers</h3>

	<p>If you have a trailer that you&rsquo;re brining you exhibit in on that will be empty for the length of the show we ask that you park it offsite. Space gets very crowded and we need parking space for visitors. All empty trailers will be taken to the Winamac school parking lot, approximately a 2 minute drive away. If you are able to take the trailer yourself, that&rsquo;s great! We will give you directions. If you can&rsquo;t take it yourself, we have people that are standing by help out. Please mention it when you are being placed and we will make all the arrangements at that time.</p>

	<h3>Golf cart policy</h3>

	<p><a href="/Info/GolfCartPolicy">Go to golf cart policy page </a></p>

	<h3>Restroom and shower facilities</h3>

	<p>Most of our exhibitors bring modern RV&rsquo;s with full restrooms built in but for those who are still camping old school, we have you covered.</p>

	<p>Port-a-potties are placed throughout the show grounds and there are handicap accessible ones available. A few locations also have portable handwashing stations.</p>

	<p>There are permanent restroom facilities located near the show office.</p>

	<p>Showers are also available 24 hours free of charge. We have our own mobile trailer which we call the Shower House located near the show office. Look for the white and orange trailer with a wooden platform. It features four individual unisex showers and each has its own small changing area.</p>

	<p>The permanent restrooms near the Shower House also have two showers in the men&rsquo;s side and two in the women&rsquo;s side.</p>

	<h3>Camping electric cost and information</h3>

	<p>Pretty much every camping area has electricity available. There a few areas without power where people roughing it in tents usually stay.</p>

	<p>While camping is free of charge, we do charge<span style="color:#e74c3c"> <strong>$50.00</strong></span> if you will be connecting to electricity for the week.&nbsp; This fee goes towards covering our utility bills and helps with the cost of building new electrical stands.&nbsp; Once you have been setup in your spot, please go to the show office where you can register your exhibit and purchase your electric pass at the same time.</p>

	<p>The pass you receive will be a small piece of paper that MUST be visibly displayed. We will do a walk through and verify that everybody who is plugged in has this pass to show that they have paid.</p>

	<p>You may attach the pass to your RV however you may like. Just be mindful of rain and wind, you won&rsquo;t want it to blow away. One way that works well is placing it in on the interior side a window that faces the road. Just face the pass outwards and wedge it in the bottom edge of the window.</p>

	<p>A new style electric pass is issued every year. So at the end of the week, simply discard it.</p>

	<p>You will either have a 120 Volt, 20 or 30 Amp circuit. Most, but not all, sites will have a standard 30A 120V travel trailer style outlet (TT-30R). We are currently upgrading our electrical stands and are working on providing 30 amp circuits for everyone in the coming years.</p>

	<div>
	<p style="margin-left:40px"><img alt="" src="https://winamacpowershow-app.s3.amazonaws.com/Tractor+Show/tt-30r.png" style="height:148px; width:259px" /></p>
	</div>

	<p>So please be sure your rig can run on one 20 amp circuit to make sure you there won&rsquo;t be any problems. Please help our limited electrical infrastructure by only using the minimum amount of air conditioning. Turn it off when not needed.</p>

	<p>Be sure to bring your own adaptors and heavy duty extension cords because we do not have any to loan. Please stretch out your cords carefully to avoid any tripping hazards.</p>

	<p>There will be an onsite electrician for the whole week of the show and he is happy to help with any electrical issues that may come up. Just ask for a blue shirt named Andy or flag down the little buggy that says &ldquo;Electrician&rdquo; on the side.</p>

	<h3>Water and sewer</h3>

	<p>There are no water hookups in the camping area so we recommend you have a full tank of water BEFORE you arrive at the show.</p>

	<p>There is city water available at several locations around the show grounds and you&#39;re welcome to fill up all the water jugs you like and take them back to your campsite. One water spigot is located on the west side of the park near the end of the main flea market road while the others are located near the midway by the show office.</p>

	<p>No RV waste water/sewer facilities are on the show grounds at all. Please have plans to dump your tanks off site after the show.</p>

	<h3>Internet access</h3>

	<p>We expect to have free Wi-Fi this year. The hot spot is located near the community building. The signal will not reach the majority of the camping area, so grab your device, go for a short stroll and get connected.</p>

	<h3>Campfires</h3>

	<p>Sitting around a campfire with friends and family is a great way to relax after a fun filled day. Small, controlled campfires are allowed. However, they MUST be contained in an elevated pit. Whatever it is, it must have legs. We cannot allow campfires to be directly on the ground such as in a circle of rocks or an old tire rim. Fires must be attended at all times and fully extinguished when you go to bed or leave your campsite.</p>

	<h3>Quiet time</h3>

	<p>Quiet time is 10:00 P.M. Please turn off any engines, generators, and music. If you wish to remain outside and relax after that time, no problem, just speak softly.</p>

	<h3>Ice</h3>

	<p>We will have bags of ice available for sale at the show office. We keep the cost low as a convenience to our campers and vendors. Purchase as much as you need.</p>

	<h3>Trash and recycling</h3>

	<p>We have 55 gallon drums lined with bags placed all over the show grounds for trash. Several cans will be in the camping areas for your use. If you have very large bags or oversized items that won&rsquo;t fit, please leave them next to the can. Trash is picked up around 8:00 A.M. every morning by our own club members with help from other volunteers.</p>

	<p>If you see a recycling container, please place your empty aluminum cans and glass or plastic bottles in it. Cardboard boxes may be placed on the ground near the container. The local Boy Scout troop helps us out and collects all the recyclables during the show.</p>

	<h3>Pet policy</h3>

	<p>Well behaved dogs are allowed. When your pet is outside of you camper, it must be on a leash and supervised by a responsible person. Please clean up after you pet because nobody likes stepping in dog bombs.</p>

	<h3>Security and safety</h3>

	<p>The Club takes reasonable precautions for safety of all exhibits, but will not responsible for vandalism, theft, or destruction by other means.</p>

	<p>We have the Pulaski Co. REACT team that provides onsite security during the day. They are stationed near the community building. The local police department patrols the grounds during nighttime hours. An ambulance with two EMTs is also onsite during the day.</p>

	<p>If you have any medical, safety, or security concerns please immediately tell a blue shirt member of the club. We carry radios and can contact any resources that are needed.</p>

	<p>It is not uncommon to have one or two personal medical related issues occur every year. Our club has a safety plan in place and takes helping our exhibitors, vendors, and visitors very seriously.</p>

	<h3>Alcohol policy</h3>

	<p>Local town laws prohibit the consumption of alcohol on the show grounds.</p>

	<h3>When to leave</h3>

	<p>The show runs Thursday morning through Sunday lunch. We really would enjoy having you there the entire time. Not only do we like seeing you, our visitors look forward to seeing what you have brought. We understand you may need to leave a little early though. That&rsquo;s not a problem. Give us some notice and we can arrange to have your trailer brought back to the show grounds if you brought one.</p>
	 </div>
</div>
